/*STYLES*/

@font-face {
    font-family: BigJohn;
    src: url('../Fonts/BIG\ JOHN.otf') format('opentype'); 
}
body {
    margin: 0;
}
#navbar{
        padding: 40px;
        position:fixed;
        z-index: 1;
        width: 100%;  
        display: flex;
        justify-content: space-between;
        align-items: center;
}
#navbar img{
    width: auto;
    height: 40px;
}
#Nav_links{
    display: flex;
    margin-right: 60px;
}

#navbar a{
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight:700;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    margin-right: 56px;
}
.header{
    background-image: url("../images/Background.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 700px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}
#logo_with_img{
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row-reverse;
}
#Grow{
    font-family: BigJohn;
    display: inline;
    font-size: 17em;
    text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    margin-left: -60px;
    padding: 0px;
    
}
#Grow_img{
    position: absolute;
    height: 100%;
    width: 45%;
    left: 25%;
    top: 18%;
}

