/*STYLES*/

@font-face {
	font-family: BigJohn;
	src: url('../Fonts/BIG\ JOHN.otf') format('opentype');
}

@font-face {
	font-family: Candara;
	src: url('../Fonts/Candara.ttf') format('opentype');
}
@font-face {
	font-family: Montserrat;
	src: url('../Fonts/Montserrat.ttf') format('opentype');
}

body {
	margin: 0;
	background-color: #09161e;
}

nav {
	display: flex;
	position: fixed;
	justify-content: space-between;
	padding: 40px 0px;
	color: rgb(255, 254, 254);
	z-index: 1;
	align-items: center;
	width: 100%;
	background-color: transparent;
}

nav.scrolled {
	background: rgb(33,64,23);
	background: linear-gradient(236deg, rgba(33,64,23,1) 0%, rgba(9,22,30,1) 100%);  
	padding: 10px 0px;
	border-bottom: 1px solid #293136;
	box-shadow: 0 10px 40px rgba(0, 255, 21, 0.1);
}

.logo {
	width: 20vw;
	padding-left: 60px;
}

nav ul {
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between;
	padding-right: 4vw;
}

nav ul li a {
	color: rgb(224, 224, 224);
	text-decoration: none;
	font-size: 1.5em;
	font-family: Montserrat;
	font-weight: 700;
	margin-right: 1.8vw;
	transition: all .3s ease;
}

nav ul li a.active {
	color: #fff;
}

nav ul li a:hover {
	color: #fff;
}


nav ul li a:before,
nav ul li a:after {
	position: relative;
	transition: all .4s ease;
	will-change: transform;
	visibility: hidden;
	color: rgb(108, 236, 69);
}

nav ul li a:before {
	content: '–';
	left: -20px;
	transform: rotateY(-90deg) scale(0);
}

nav ul li a:after {
	content: '–';
	right: -20px;
	transform: rotateY(90deg) scale(0);
}

nav ul li a:hover:before,
nav ul li a:hover:after {
	transform: rotateY(0deg) scale(1);
	visibility: visible;
}

nav ul li a:hover:before {
	left: 0;
}

nav ul li a:hover:after {
	right: 0;
}


.btn {
	border-radius: 40px;
}

/*Hamburger */
.menu-bars {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
	z-index: 999;
	padding-right: 60px;
}

.menu-bars input {
	position: absolute;
	width: 40px;
	height: 28px;
	left: -5px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.menu-bars span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: rgb(255, 254, 254);
	border-radius: 3px;
	transition: all 0.3s;
}

.menu-bars span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-bars span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-bars input:checked~span:nth-child(2) {
	background-color: white;
	transform: rotate(45deg) translate(-1px, -1px);
}

.menu-bars input:checked~span:nth-child(4) {
	background-color: white;
	transform: rotate(-45deg) translate(-1px, 0);
}

.menu-bars input:checked~span:nth-child(3) {
	opacity: 0;
	transform: scale(0);
}


@media only screen and (max-width: 1017px) {
	.menu-bars {
		display: flex;
	}

	nav ul {
		position: absolute;
		right: 0;
		top: -30px;
		width: 100%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		z-index: 1;
		transform: translateY(-100%);
		transition: all 1s;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		background-color: hsla(0, 0%, 0%, 0.5);
	}

	nav ul li a.active {
		color: #00ff15;
	}
}

nav ul.slide {
	transform: translateY(0);
}


.logo_with_img {
	color: #fff;
	position: absolute;
	top: 37%;
	left: 55%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row-reverse;
}

#Grow {
	font-family: BigJohn;
	display: inline;
	font-size: 27vw;
	text-shadow: 6px 6px 22px rgba(0, 0, 0, 0.5);
	margin-left: -7vw;
	padding: 0px;
	animation: waviy 5s infinite;
	animation-delay: calc(.2s * var(--i));
	animation-timing-function: ease;
}

@keyframes waviy {

	0%,
	40%,
	100% {
		transform: Scale(1);
	}

	20% {
		transform: Scale(1.05);
	}
}

.container {
	position: relative;
	width: 100%;
	max-width: 100%;
}

.background-img {
	width: 100%;
	height: auto;
	display: block;
}

.foreground-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
}

/* do not alter above code*/
/*Write Code Below*/

/*content css*/
#content {
	align-items: center;
}

#head {
	text-align: center;
	font-size: 4.2vw;
	color: #ffffff;
	font-family: "Archivo", "Archivo Placeholder", sans-serif;
	text-shadow: 2px 2px 6px rgba(95, 95, 95, 0.5);
}
#head1{
	font-size: 2.6vw; 
	color: rgb(148, 222, 29); 
	padding:4vw 0 0 9vw;
}
#graph_div{
	border: 1px solid rgba(148, 222, 29, 0.438);
	width: 45%;
	margin-top: 90px;
	height: 100%;
	border-radius: 1vw;
	background-image: url("../images/over2.webp"); 
	background-position: center; 
	background-size: cover; 
	background-repeat: no-repeat;
}

.left,
.right {
	margin: 10px 60px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 12vw;
}

.right p,
.left p,
.left img,
.right img {
	align-self: center;
}

.left img,
.right img {
	width: 30%;
}

.right p,
.left p {
	width: 50%;
	color: #b5bdc5;
	font-family: Calibri;
	font-size: 2.3vw;
}
#image2nd{
  margin-bottom: -110px;
  width: 25%;
}
@media only screen and (max-width: 700px) {
  #head{
    font-size: 8vw;
    padding: 0 8vw;
  }
  #head1{
	font-size: 8vw;
  }
  #graph_div{
	width: 100%;
  }
  .left, .right{
    display: block;
  }
.right p,
.left p {
  width: 100%;
  font-size: 6vw;
}
.left img,
.right img {
	width: 80%;
}
#image2nd{
  margin-bottom: -60px;
  width: 75%;
}
}

.hi_list {
	display: flex;
}


@media only screen and (min-width: 700px) {
  .hi_list p {
    white-space: nowrap;
  }
}


.hi_list img {
	width: 2.3vw;
	margin-right: 9px;
}
#footer-heading {
	font-size: 40px;
}
footer{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
  justify-content: space-around;
  color: #b5bdc5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
	font-weight: 800;
}
footer a{
	text-decoration: none;
	color: #b5bdc5;
}
.footer-elements{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
.footer-elements .row{
  display: block;
  justify-content: space-between;
}


/* chat bot */
@import url('https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900')
/* ends here chat bot */